@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-1: rgb(207, 250, 207);
  --color-2: rgb(255, 240, 208);
  --color-3: rgb(205, 231, 255);
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  border-bottom: 2px solid
    linear-gradient(
      306deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(61, 61, 220, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  margin-bottom: 1vw;
  padding: 1vw 0vw;
  color: #ffffff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    306deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(61, 61, 220, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

main {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.1vw;
}

header {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  justify-items: right;
}

.page-title {
  width: 100%;
  text-align: right;
  font-size: 2vw;
}
.another-page {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
  font-size: 1.3vw;
}

.page-title a, .another-page a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.another-page a:hover {
  text-decoration: underline;
}
.container h2 {
  padding-bottom: 0.2em;
}

.left,
.right {
  /* border: 1px solid black; */
  margin-right: 2vw;
  width: 45vw;
  padding: 0rem 0rem 0rem 0rem;
}

.container {
  padding: 2vw;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 2px solid black;
}
.container h2,
h3 {
  text-align: center;
  padding-bottom: 1vh;
}
.description {
  text-indent: 3rem;
  font-size: 1.2vw;
  padding: 1rem 1rem 1rem;
  background-color: var(--color-1);
  margin-bottom: 1rem;
}

img {
  /* object-fit: fill; */
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}
pre {
  background-color: black;
  color: white;
  overflow: visible;
}

code {
  font-family: monospace, serif;
  font-size: 1vw;
}

#display-container {
  padding: 1rem 1rem 1rem;
  margin-top: 1em;
}

#flex-direction-container {
  padding: 1rem 1rem 1rem;
}

#justify-content-container {
  padding: 1rem 1rem 1rem;
}

footer {
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    306deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(61, 61, 220, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  font-size: 1.2vw;
  text-align: center;
  padding: 1rem 0rem;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

i {
  color: black;
  text-decoration: none;
  cursor: pointer;
}